/*
::-webkit-scrollbar { width: auto; } // Estilos para la barra de desplazamiento
::-webkit-scrollbar-track { background-color: black; } // Color del fondo del track
::-webkit-scrollbar-thumb { background-color: gray; } // Color del thumb
::-webkit-scrollbar-button { background-color: black; } // Color del fondo de las flechas
::-webkit-scrollbar-button { color: gray; } // Estilos para el botón de arriba
  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    img, video { @extend %foto-pp; }
    overflow-x: hidden;
}